{% extends "base.html" %} 
{% block title %}Hemosys | About Us{% endblock title %}
{% block content %}
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
          <div class="section-title">
            <br><br>
            <h2>About</h2>
            <h3>Learn <span>About Us</span></h3>
            <p></p>
          </div>
  
          <div class="row content">
            <div class="col-lg-6">
              <p>
              </p>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p>
              </p>
            </div>
          </div>
  
        </div>
    </section>
    <!-- End About Section -->
{% endblock %}