{% extends "base.html" %} 
{% block title %}Hemosys | About Us{% endblock title %}
{% block content %}
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
          <div class="section-title">
            <br><br>
            <h2>About</h2>
            <h3>Learn <span>About Us</span></h3>
            <p>
              Hemosys is a comprehensive solution designed to streamline and enhance blood donation processes. This platform will serve as a centralized hub, promoting accessibility, transparency, and effectiveness in blood donation activities.
            </p>
          </div>
  
          <div class="row content">
            <div class="col-lg-6">
              <p>
                •	Enhance Blood Donation: 
                Facilitate and encourage blood donation by providing a user-friendly platform for individuals to easily register, donate, and track their contributions.
                <br><br>
                •	Organize Blood Donation Camps:
                Enable the planning and execution of blood donation camps through the system, promoting community engagement and ensuring a steady supply of blood.
                <br><br>
                •	Centralized Blood Bank Connectivity: 
                Connect with all blood banks across the city to create a unified network, allowing seamless sharing of information and resources for efficient blood management.
                <br><br>
                •	Enhanced Communication: 
                Facilitate effective communication between donors, organizers, and blood banks, fostering a collaborative environment for blood donation initiatives.
                <br>
              </p>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p>
                •	User Education and Awareness:
                Promote awareness about the importance of blood donation through the platform, educating users about the impact of their contributions.
                <br><br>
                •	Blood Search Capability: 
                Implement a search feature to help individuals in need find blood donors swiftly, reducing response time during emergencies.
                <br><br>
                •	Real-time Updates: 
                Provide timely notifications and updates to donors, organizers, and recipients, ensuring everyone involved stays informed about events, donation statuses, and blood availability.
                <br><br>
                •	Promote Community Health: 
                Foster a sense of community responsibility towards health by encouraging regular blood donation, increasing awareness, and organizing educational initiatives on the importance of blood donation.
                <br>
              </p>
            </div>
          </div>
  
        </div>
    </section>
    <!-- End About Section -->
{% endblock %}