{% extends "base.html" %} 
{% block title %} Hemosys | Blood Availability {% endblock title %}
{% load static %}
{% block content %}

<section id="bloodavailability" class="bloodavailability">
  <div class="container">
    <div class="section-title">
      <br/><br/>
      <h2>Availability</h2>
      <h3>Blood <span>Availability</span></h3>
    </div>

    <!-- ===== Searching Functionality ===== -->

    <div class="container mt-3 mb-3">
      <form method="GET" action="">
        <div class="row">
          <div class="col-md-4">
            <input type="text" class="form-control" id="searchAddress" name="searchAddress" placeholder="Search with location"/>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" id="searchBloodGroup" name="searchBloodGroup" placeholder="Search with blood group"/>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <select class="form-control" id="searchType" name="searchType">
                <option value="Select">Select</option>
                <option value="Donor">Donor</option>
                <option value="BloodBank">Blood Bank</option>
              </select>
            </div>
          </div>
        </div>
        <br/>
        <button type="submit" class="btn btn-secondary mx-2" style="background-color: #e43c5c"> Search </button>
      </form>
    </div>

    <!-- ===== Donor and Blood Bank Profiles ===== -->
    
    <div>
      <section id="portfolio" class="portfolio">
        <div class="container">
          <div class="row portfolio-container"> 
              {% for user in users %}
              <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                {% if user.userprofile.image %}
                <img src="{{ user.userprofile.image.url }}" alt="" class="img-fluid rounded" style="width: 400px; height: 250px;"/>
                {% else %}
                <img src="{% static '\images\default-profile-picture.png' %}" alt="" class="img-fluid rounded" style="width: 400px; height: 230px;"/>
                {% endif %}
                <div class="portfolio-info"> 
                  <h4>{{ user.first_name }}</h4>
                  <p>{{ user.userprofile.bloodgroup }}</p>
                  
                  <a href="/donor/donor-details/{{ user.id }}/" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
              {% endfor %}

              {% for n in bankdata %}
              <div class="col-lg-4 col-md-6 portfolio-item filter-app">

                {% if n.user.bloodbank.image %} 
                <img src="{{ n.user.bloodbank.image.url }}" alt="" class="img-fluid rounded" style="width: 400px; height: 250px;"/>
                {% else %}
                <img src="{% static '\images\blood-bank.jpg' %}" alt="" class="img-fluid rounded" style="width: 400px; height: 250px;"/>
                {% endif %} 

                <div class="portfolio-info"> 
                  <h4>{{n.user.bloodbank.bloodbankname}}</h4>
                  <p>{{n.user.bloodbank.bloodbankgroups}}</p>
                  
                  <a href="/bloodbank/bloodbank-details/{{ n.user_id }}/" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
              {% endfor %}
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

{% endblock content %}
