{% extends "base.html" %} 
{% block title %} Hemosys | Blood Bank Details{% endblock title %} 
{% block content %}
{% load static %}
<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details"> 
  <br>
  
  <div class="profile">

    <img src="\static\images\donor-bb-bg.png" alt=""/>
    
    <div class="profile-photo">
      {% if bank.image %}
      <img src="{{ bank.image.url }}" alt=""/>
      {% else %}
      <img src="\static\images\blood-bank.png" alt=""/>
      {% endif %}
    </div>
  
    <div class="profile-info">
      {% if user.is_authenticated %}
      <h1>{{ bank.bloodbankname }}</h1>
      <p> {{ bank.bloodbanklocation }} </p><br>
      <ul>
        <div class="row">
          <div class="col-lg-5">
            <li><strong>Contact</strong>: {{ bank.bloodbankphone }} </li> 
            <li><strong>Email</strong>: {{ bank.bloodbankemail }} </li> 
            <li><strong>Accreditations</strong>: {{bank.bloodbankaccreditations}}</li>
          </div>
          <div class="col-lg-7">
            <li><strong>Available Types</strong>: {{bank.bloodbanktypes}}</li> 
            <li><strong>Available Groups</strong>: {{bank.bloodbankgroups}}</li> 
            <li><strong>Website</strong>: {{ bank.bloodbanklink }} </li> 
          </div>
        </div>
        {% endif %}
      </ul>
    </div>
  </div>
</section>
<!-- End Portfolio Details Section -->

{% endblock content %}
