{% extends "base.html" %} 
{% block title %} Hemosys | Donor Registration {% endblock title %} 
{% block content %}

<div class="card bg-light p-5">
    <br><br> 
    <div class="section-title">
        <h2>Donor</h2>
        <h3>Donor <span>Registration</span></h3>
    </div>

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        
      <div class="row justify-content-center">
        <div class="col-md-4">
          <label for="phone">Donor's phone number</label>
          <div class="form-group">
            <input type="tel" class="form-control p-2" id="phone" name="phone" required/>
          </div>
        </div>
        <div class="col-md-4">
          <label for="location">Donor's address</label>
          <div class="form-group">
            <input type="text" class="form-control p-2" id="location" name="location" required/>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <label for="age">Donor's age</label>
          <div class="form-group">
            <input type="number" class="form-control p-2" id="age" name="age" required/>
          </div>
        </div>
        <div class="col-md-4">
          <label for="gender">Donor's gender</label>
          <div class="form-group">
            <select class="form-control" id="gender" name="gender" requried>
              <option value="">Select gender</option>
              <option id="recipientgender" value="Male">Male</option>
              <option id="recipientgender" value="Female">Female</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <label for="bloodgroup">Donor's blood group</label>
          <div class="form-group">
            <select class="form-control" id="bloodgroup" name="bloodgroup" requried>
              <option value="">Select blood group</option>
              <option id="bloodA+" value="A+">A+</option>
              <option id="bloodA-" value="A-">A-</option>
              <option id="bloodB+" value="B+">B+</option>
              <option id="bloodB-" value="B-">B-</option>
              <option id="bloodAB+" value="AB+">AB+</option>
              <option id="bloodAB-" value="AB-">AB-</option>
              <option id="bloodO+" value="O+">O+</option>
              <option id="bloodO-" value="O-">O-</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <label for="image">Upload profile picture</label> 
          <br>
          <div class="form-group">
            <input type="file" class="form-control-file" id="image" name="image"/>
          </div>
        </div>
      </div>
      <br><br>
      <div class="row justify-content-center">
          <button type="submit" class="btn btn-dark" style="background-color: #e43c5c">Submit</button>
      </div>
    </form>
</div>

{% endblock content %}