{% extends 'base.html' %} 
{% block title %} Hemosys | Donation Request {%endblock title %} 
{% block content %}

<section id="portfolio-details" class="portfolio-details">
  <div class="container">
    <div class="section-title">
      <br /><br />
      <h2>Request</h2>
      <h3>Donation <span>Request</span></h3>
    </div>
  </div>
  
  <div class="container">
    <div class="row gy-4"> 
      {% for n in reqdata %}
      <div class="col-lg-4">
        <div class="portfolio-info">
          <h3>{{ n.recipientname }}</h3>
          <ul>
            <li><strong>Contact</strong>: {{ n.recipientphone }} </li>
            <li><strong>Email</strong>: {{ n.recipientemail }} </li>
            <li><strong>Location</strong>: {{ n.recipientlocation }} </li>
            <li><strong>Age</strong>: {{ n.recipientage }} </li>
            <li><strong>Gender</strong>: {{ n.recipientgender }} </li>
            <li><strong>Blood Group</strong>: {{ n.recipientblood }} </li>
            <li><strong>Donation Type</strong>: {{ n.recipientdonationtype }} </li>
            <li><strong>Quantity</strong>: {{ n.recipientdonationquantity }} </li>
            <li><strong>Patient's Condition</strong>: {{ n.recipientcondition }} </li>
            <li><strong>Requested Time</strong>: {{ n.recipientdate }} </li>
            <li><strong>Requested Date</strong>: {{ n.recipienttime }} </li>
          </ul>
        </div>
        <br>
        <button type="submit" class="btn btn-secondary mx-2" style="background-color: #e43c5c; width: 340px;"> Confirm </button>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}
