{% extends "base.html" %} 
{% block title %} Hemosys | Donor Details{% endblock title %} 
{% block content %}
{% load static %}
<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
  <br>

  <div class="profile">
  
    <img src="{% static '\images\donor-bb-bg.png' %}" alt=""/>
  
    <div class="profile-photo">
      {% if donor.user.userprofile.image %}
      <img src="{{ donor.user.userprofile.image.url }}" alt=""/>
      {% else %}
      <img src="{% static '\images\default-profile-picture.png' %}" alt=""/>
      {% endif %}
    </div>
  
    <div class="profile-info">

      {% if donor.user.is_authenticated %}

      <h1>{{ donor.user.first_name }}</h1>
      <p> {{ donor.user.userprofile.location }} </p><br>
      <ul>
        <div class="row">
          <div class="col-lg-7">

            <li><strong>Number</strong>: {{ donor.user.userprofile.phone }} </li>
            <li><strong>Email</strong>:  {{ donor.user.email }} </li>
            <li><strong>Blood group</strong>: {{ donor.user.userprofile.bloodgroup }}</li>
          </div>
          <div class="col-lg-4">

            <li><strong>Age</strong>: {{ donor.user.userprofile.age }}</li>
            <li><strong>Gender</strong>: {{ donor.user.userprofile.gender }}</li>

            {% if donor.user.userprofile.donor_donationcount %}
            <li><strong>Donation count</strong>: {{ donor.user.userprofile.donor_donationcount }} </li>
            {% else %}
            <li><strong>Donation count</strong>: 0 </li>
            {% endif %}

          </div>
        </div>
      {% endif %}
    </div>
  </div>
</section>
<!-- End Portfolio Details Section -->

{% endblock content %}
