{% extends "base.html" %} 
{% block title %} Hemosys | Donor Details{% endblock title %} 
{% block content %}
{% load static %}
<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
  <br><br>
  <div class="section-title">
    <h2>Donor</h2>
  </div>

  <div class="container">
    <div class="row gy-4"> 
      <div class="col-lg-8">
        {% if donor.user.userprofile.image %}
        <img src="{{ donor.user.userprofile.image.url }}" alt="" class="img-fluid rounded" style="width: 600px; height: 415px;"/>
        {% else %}
        <img src="{% static '\images\default-profile-picture.png' %}" alt="" class="img-fluid rounded" style="width: 600px; height: 415px;"/>
        {% endif %}
      </div>
      <div class="col-lg-4">
        <div class="portfolio-info">
          <h3>Bio</h3>
          <ul>
            <li><strong>Name</strong>: {{ donor.user.first_name }}</li>
            <li><strong>Email</strong>: {{ donor.user.email }} </li>
            <li><strong>Number</strong>: {{ donor.user.userprofile.phone }} </li>
            <li><strong>Address</strong>: {{ donor.user.userprofile.location }}</li>
            <li><strong>Blood group</strong>: {{ donor.user.userprofile.bloodgroup }}</li>
            <li><strong>Age</strong>: {{ donor.user.userprofile.age }}</li>
            <li><strong>Gender</strong>: {{  donor.user.userprofile.gender }}</li>
            <li><strong>Donation count</strong>: {{ donor.user.userprofile.donor_donationcount }} </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Portfolio Details Section -->

{% endblock content %}
