{% extends "base.html" %} 
{% block title %} Hemosys | Edit Blood Bank {% endblock title %} 
{% block content %}

<div class="edit bg-light p-5">
    <br><br> 
    <div class="section-title">
        <h3>Edit <span>Blood Bank</span></h3>
    </div>


    <div class="edit-info d-flex justify-content-center">

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
    
        <div class="row justify-content-center">
          <div class="col-md-7">
            <label for="bloodbankname">Blood bank name</label>
            <div class="form-group">
              {{form.bloodbankname}}
            </div>
          </div>
          <div class="col-md-5">
            <label for="bloodbankphone">Blood bank contact</label>
            <div class="form-group">
                {{form.bloodbankphone}}
            </div> 
          </div> 
        </div>

        <div class="row justify-content-center"> 
          <div class="col-md-7">
            <label for="bloodbanklocation">Blood bank location</label>
            <div class="form-group">
                {{form.bloodbanklocation}}
            </div>
          </div>
          <div class="col-md-5">
            <label for="bloodbankemail">Blood bank email</label>
            <div class="form-group">
                {{form.bloodbankemail}}
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-7">
            <label for="bloodbanklink">Blood bank page</label>
            <div class="form-group">
                {{form.bloodbanklink}}
            </div>
          </div>
          <div class="col-md-5">
            <label for="bloodbankaccreditations">Accreditations</label>
            <div class="form-group">
                {{form.bloodbankaccreditations}}
            </div>
          </div>
        </div>
    
        <div class="row justify-content-center">
          <div class="col-md-7">
            <label for="bloodbankgroups">Donation types</label> 
            <div class="form-grp">
              {{form.bloodbanktypes}}
            </div>
          </div>

          <div class="col-md-5 mt-4">
            <label for="bloodbankgroups">Available groups</label>
            <div class="form-grp">
              {{form.bloodbankgroups}}
            </div>
          </div>
        </div><br>

        <div class="row">
          <div class="col-md-12">
            <label for="image">Update image</label> 
            <br>
            <div class="form-image">
              {{form.image}}
            </div>
          </div>
        </div><br><br>

        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-dark" style="background-color: #e43c5c;">Update</button>
        </div>
        
      </form>
    </div>
</div><br>

{% endblock content %}