{% extends 'base.html' %}
{% block title %} Hemosys | Am I Eligible? {% endblock title %}
{% block content %}

  <section id="amie" class="amie">
    <div class="container">
      <div class="section-title">
        <br><br>
        <h2>Eligibility</h2>
        <h3>Am I <span>Eligible?</span></h3>
      </div>
      <div class="eligibility-terms">
        <ul>
          <li><strong>Age:</strong> Donors must be at least 16 to 18 years old, depending on local regulations.</li>
          <li><strong>Weight:</strong> Donors must weight at least 50 kilograms.</li>
          <li><strong>Health:</strong> Donors must be in good health, free from acute illnesses or infections.</li>
          <li><strong>Hemoglobin Levels:</strong> Donors need adequate hemoglobin levels to prevent anemia.</li>
          <li><strong>Travel History:</strong> Certain travel history may affect eligibility, especially in areas with diseases like malaria.</li>
          <li><strong>Medical History:</strong> Donors are asked about past surgeries, medications, and medical conditions.</li>
          <li><strong>Lifestyle Factors:</strong> High-risk behaviors like intravenous drug use or unprotected sex may defer individuals from donating.</li>
          <li><strong>Pregnancy and Breastfeeding:</strong> Pregnant or breastfeeding individuals are usually not eligible to donate blood.</li>
          <li><strong>Piercings and Tattoos:</strong> Depending on local regulations, there may be deferral periods after getting a piercing or tattoo.</li>
          <li><strong>Vaccinations:</strong> Some vaccines may require deferral periods before donating blood.</li>
          <li><strong>Recent Blood Donation:</strong> Donor must wait a minimum of 12 weeks between donations (12 weeks for men and 16 weeks for women).</li>
        </ul>
      </div>
    </div>
  </section>

{% endblock content %}
