{% extends "base.html" %}
{% block title %}Hemosys | Log in{% endblock title %}
{% block content %}
<br>

<div class="formbg">
  <br><br><br>
  <div class="d-flex justify-content-center">
    <div class="card bg-light p-5 forms">
  
      <h2 class="text-dark d-flex justify-content-center">Log in</h2>
      <form action="/auth/login/" method="post">
        {% csrf_token %}
        <br/>
        <label for="id_username">Email</label>
        <div class="form-group">
          <input type="username" class="form-control p-2" id="id_username" name="username" required/>
        </div>
        <label for="id_password">Password</label>
        <div class="form-group">
          <input type="password" class="form-control p-2" id="id_password" name="password" required/>
        </div>
        <br/>
        <button type="submit" class="btn btn-dark">Log in</button>
        <br/><br/>
        <span>Forget Password? <a href="/auth/request-reset-email/">Reset</a></span>
        <br/>
        Not User? <a href="/auth/signup/">Sign up</a>
        <br/>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
