{% extends "base.html" %} 
{% block title %} Hemosys | Profile{% endblock title %} 
{% block content %}

{% load static %}

<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details"><br>




  <!-- -------------------------------- Donor || No Blood Bank -------------------------------- -->

  {% if not user.bloodbank.bloodbankname and user.userprofile.phone %}


  <div class="dashboard d-flex justify-content-center">

    <div class="profile">

      <div class="profile-photo d-flex justify-content-center">
        {% if user.userprofile.image %}
        <img src="{{ user.userprofile.image.url }}" alt=""/>
        {% else %}
        <img src="{% static '\images\default-profile-picture.png' %}" alt=""/>
        {% endif %}
      </div>

      <div class="title justify-content-center">
        <h1>{{ user.first_name }}</h1>
        <p> {{ user.userprofile.location }} </p><br>
      </div>
      <div class="d-flex justify-content-center">

        <div class="profile-info">
        
          {% if user.is_authenticated %}

          <ul>
            <div class="row">
              <div class="col-lg-7">
                <li><strong>Number</strong>: {{ user.userprofile.phone }} </li>
                <li><strong>Email</strong>:  {{ user.email }} </li>
                <li><strong>Gender</strong>: {{ user.userprofile.gender }}</li>
                <li><strong>Blood group</strong>: {{ user.userprofile.bloodgroup }}</li>
              </div>
              <div class="col-lg-4">

                <li><strong>Age</strong>: {{ user.userprofile.age }}</li>
                {% if user.userprofile.donor_donationcount %}
                <li><strong>Donation count</strong>: {{ user.userprofile.donor_donationcount }} </li>
                {% else %}
                <li><strong>Donation count</strong>: 0 </li>
                {% endif %}
                {% if user.userprofile.last_donation %}
                <li><strong>Last donation</strong>: {{ user.userprofile.last_donation|date:"d M Y" }} </li>
                <li><strong>Next donation</strong>: {{ user.userprofile.next_eligible_date|date:"d M Y" }} </li>
                {% else %}
                <li><strong>Last donation</strong>: Not available </li> 
                <li><strong>Next donation</strong>: Not available </li> 
                {% endif %}
              </div>
            </div>
            {% endif %}
          </ul><br>

        </div>
      </div>

      <div class="button d-flex justify-content-center">

        <div class="mr-3">
          {% if not user.userprofile.phone %}
          {% url 'completeprofile' as url %}
          <a href="{{url}}" type="submit" class="profile-button scrollto"> Donor Registration </a>
          {% else %}
          {% url 'editprofile' as url %}
          <a href="{{url}}" type="submit" class="profile-button scrollto"> Edit Profile </a>
          {% endif %}
        </div>
        
        <div class="">
          {% if not user.bloodbank.bloodbankname %}
          {% url 'addbloodbank' as url %}
          <a href="{{url}}" type="submit" class="profile-button scrollto"> Add Blood Bank </a>
          {% else %}
          {% url 'editbloodbank' as url %}
          <a href="{{url}}" type="submit" class="profile-button scrollto"> Edit Blood Bank</a>
          {% endif %}
        </div>

      </div>

    </div>
  </div>

  




 <!-- -------------------------------- Not Donor || Blood Bank -------------------------------- -->

  {% elif not user.userprofile.phone and user.bloodbank.bloodbankname%}

  <div class="dashboard d-flex justify-content-center">
    
    <div class="profile">

      <div class="profile-photo d-flex justify-content-center">
        {% if user.bloodbank.image %}
        <img src="{{ user.bloodbank.image.url }}" alt=""/>
        {% else %}
        <img src="{% static '\images\blood-bank.png' %}" alt=""/>
        {% endif %}
      </div>

      <div class="title">
        <h1>{{ user.bloodbank.bloodbankname }}</h1>
        <p> {{ user.bloodbank.bloodbanklocation }} </p><br>
      </div>

      <div class="d-flex justify-content-center">
        <div class="profile-info">
          {% if user.is_authenticated %}

          <ul>
            <div class="row">
              <div class="col-lg-7">
                <li><strong>Available Types</strong>: {{user.bloodbank.bloodbanktypes}}</li> 
                <li><strong>Available Groups</strong>: {{user.bloodbank.bloodbankgroups}}</li> 
                <li><strong>Website</strong>: {{ user.bloodbank.bloodbanklink }} </li> 
              </div>
              <div class="col-lg-4">
                <li><strong>Contact</strong>: {{ user.bloodbank.bloodbankphone }} </li> 
                <li><strong>Email</strong>: {{ user.bloodbank.bloodbankemail }} </li> 
                <li><strong>Accreditations</strong>: {{user.bloodbank.bloodbankaccreditations}}</li>
              </div>
            </div>
            {% endif %}
          </ul><br>

        </div> 
      </div>

      <div class="button d-flex justify-content-center">
        
        <div class="mr-3">
          {% if not user.bloodbank.bloodbankname %}
          {% url 'addbloodbank' as url %}
          <a href="{{url}}" type="submit" class="profile-button scrollto"> Add Blood Bank </a>
          {% else %}
          {% url 'editbloodbank' as url %}
          <a href="{{url}}" type="submit" class="profile-button scrollto"> Edit Blood Bank</a>
          {% endif %}
        </div>

        <div class="">
          {% if not user.userprofile.phone %}
          {% url 'completeprofile' as url %}
          <a href="{{url}}" type="submit" class="profile-button scrollto"> Donor Registration </a>
          {% else %}
          {% url 'editprofile' as url %}
          <a href="{{url}}" type="submit" class="profile-button scrollto"> Edit Profile </a>
          {% endif %}
        </div>

      </div>

    </div>
  </div>

  




  <!-- -------------------------------- Not Donor || No Blood Bank -------------------------------- -->

  {% elif not user.userprofile.phone and not user.bloodbank.bloodbankname %}

  <div class="d-flex justify-content-center">
    <div class="register">

      <div class="register-info">

        {% if user.is_authenticated %}
          <div>
            <ul>
              <li><strong>Name</strong>: {{ user.first_name }} </li>
              <li><strong>Email</strong>:  {{ user.email }} </li>
            </ul>
          </div>
        {% endif %}<br>
        
        <div>
          {% url 'completeprofile' as url %}
          <a href="{{url}}" type="submit" class="register-button scrollto"> Donor Registration </a>
        </div><br>

        <div>
          {% url 'addbloodbank' as url %}
          <a href="{{url}}" type="submit" class="register-button scrollto"> Add Blood Bank </a>
        </div>

      </div>
    </div>
  </div>






 <!-- -------------------------------- Donor || Blood Bank -------------------------------- -->

  {% else %}
  <div class="dashboard d-flex justify-content-center">

    <div class="profile">

      <div class="profile-photo d-flex justify-content-center">
        {% if user.userprofile.image %}
        <img src="{{ user.userprofile.image.url }}" alt=""/>
        {% else %}
        <img src="{% static '\images\default-profile-picture.png' %}" alt=""/>
        {% endif %}
      </div>

      <div class="title justify-content-center">
        <h1>{{ user.first_name }}</h1>
        <p> {{ user.userprofile.location }} </p><br>
      </div>

      <div class="d-flex justify-content-center">
        <div class="profile-info">
        
          {% if user.is_authenticated %}

          <ul>
            <div class="row">
              <div class="col-lg-8 pb-2">
                <li><strong>Number</strong>: {{ user.userprofile.phone }} </li>
                <li><strong>Email</strong>:  {{ user.email }} </li>
                <li><strong>Gender</strong>: {{ user.userprofile.gender }}</li>
                <li><strong>Blood group</strong>: {{ user.userprofile.bloodgroup }}</li>
              </div>

              <div class="col-lg-4">
                <li><strong>Age</strong>: {{ user.userprofile.age }}</li>
                {% if user.userprofile.donor_donationcount %}
                <li><strong>Donation count</strong>: {{ user.userprofile.donor_donationcount }} </li>
                {% else %}
                <li><strong>Donation count</strong>: 0 </li>
                {% endif %}
                {% if user.userprofile.last_donation %}
                <li><strong>Last donation</strong>: {{ user.userprofile.last_donation|date:"d M Y" }} </li>
                <li><strong>Next donation</strong>: {{ user.userprofile.next_eligible_date|date:"d M Y" }} </li>
                {% else %}
                <li><strong>Last donation</strong>: Not available </li> 
                <li><strong>Next donation</strong>: Not available </li> 
                {% endif %}
              </div>
            </div>
            {% endif %}
          </ul><br>

        </div>
      </div>

      <div class="button d-flex justify-content-center">
        {% if not user.userprofile.phone %}
        {% url 'completeprofile' as url %}
        <a href="{{url}}" type="submit" class="profile-button scrollto"> Donor Registration </a>
        {% else %}
        {% url 'editprofile' as url %}
        <a href="{{url}}" type="submit" class="profile-button scrollto"> Edit Profile </a>
        {% endif %}

      </div>

    </div>
  </div>

  <div class="dashboard d-flex justify-content-center">
    
    <div class="profile">

      <div class="profile-photo d-flex justify-content-center">
        {% if user.bloodbank.image %}
        <img src="{{ user.bloodbank.image.url }}" alt=""/>
        {% else %}
        <img src="{% static '\images\blood-bank.png' %}" alt=""/>
        {% endif %}
      </div>

      <div class="title">
        <h1>{{ user.bloodbank.bloodbankname }}</h1>
        <p> {{ user.bloodbank.bloodbanklocation }} </p><br>
      </div>

      <div class="d-flex justify-content-center">
        <div class="profile-info">
          {% if user.is_authenticated %}

          <ul>
            <div class="row">
              <div class="col-lg-8 pb-2">
                <li><strong>Available Types</strong>: {{user.bloodbank.bloodbanktypes}}</li> 
                <li><strong>Available Groups</strong>: {{user.bloodbank.bloodbankgroups}}</li> 
                <li><strong>Website</strong>: {{ user.bloodbank.bloodbanklink }} </li> 
              </div>
              <div class="col-lg-4">
                <li><strong>Contact</strong>: {{ user.bloodbank.bloodbankphone }} </li> 
                <li><strong>Email</strong>: {{ user.bloodbank.bloodbankemail }} </li> 
                <li><strong>Accreditations</strong>: {{user.bloodbank.bloodbankaccreditations}}</li>
              </div>
            </div>
            {% endif %}
          </ul><br>

        </div>
      </div>

      <div class="button d-flex justify-content-center">
        {% if not user.bloodbank.bloodbankname %}
        {% url 'addbloodbank' as url %}
        <a href="{{url}}" type="submit" class="profile-button scrollto"> Add Blood Bank </a>
        {% else %}
        {% url 'editbloodbank' as url %}
        <a href="{{url}}" type="submit" class="profile-button scrollto"> Edit Blood Bank</a>
        {% endif %}
      </div>

    </div>
  </div>

  {% endif %}
</section>
<!-- End Portfolio Details Section -->


{% endblock content %} 
