{% extends "base.html" %} 
{% block title %} Hemosys | Profile{% endblock title %} 
{% block content %}

<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
  <br>
  
  <!-- -------------------------------- Donor || No Blood Bank -------------------------------- -->

  {% if not user.bloodbank.bloodbankname and user.userprofile.phone %}

  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="row gy-4"> 
        <div class="col-lg-8"> 
          <br>
          {% if user.userprofile.image %}
          <img src="{{ user.userprofile.image.url }}" alt="" class="img-fluid rounded" style="width: 600px; height: 415px;"/>
          {% else %}
          <img src="\static\images\default-profile-picture.png" alt="" class="img-fluid rounded" style="width: 600px; height: 415px;; border: 1px solid #e43c5c;"/>
          {% endif %}

          <br><br>
          <div>
            {% if not user.bloodbank.bloodbankname %}
            {% url 'addbloodbank' as url %}
            <a href="{{url}}" type="submit" class="btn btn-secondary mx-2" style="background-color: #e43c5c; width: 582px; height: auto;"> Add Blood Bank </a>
            {% else %}
            {% url 'editbloodbank' as url %}
            <a href="{{url}}" type="submit" class="btn btn-secondary mx-2" style="background-color: #e43c5c; width: 600px; height: auto;"> Edit Blood Bank</a>
            {% endif %}
          </div>

        </div>

        <div class="col-lg-4"><br>
          <div class="portfolio-info">
            <h3>Bio</h3>
            <ul>
              {% if user.is_authenticated %}
              <li><strong>Name</strong>: {{ user.first_name }} </li>
              <li><strong>Email</strong>: {{ user.email }} </li>

              {% if user.userprofile.phone %}
              <li><strong>Number</strong>: {{ user.userprofile.phone }} </li>
              {% endif %}

              {% if user.userprofile.location %}
              <li><strong>Address</strong>: {{ user.userprofile.location }}</li>
              {% endif %}

              {% if user.userprofile.bloodgroup %}
              <li><strong>Blood group</strong>: {{ user.userprofile.bloodgroup }}</li>
              {% endif %}

              {% if user.userprofile.age %}
              <li><strong>Age</strong>: {{ user.userprofile.age }}</li>
              {% endif %}

              {% if user.userprofile.gender %}
              <li><strong>Gender</strong>: {{ user.userprofile.gender }}</li>
              {% endif %}

              {% if user.userprofile.age %}
              {% if user.userprofile.donor_donationcount %}
              <li><strong>Donation count</strong>: {{ user.userprofile.donor_donationcount }} </li>
              {% else %}
              <li><strong>Donation count</strong>: 0 </li>
              {% endif %}
              {% endif %}

              {% endif %}
            </ul>
          </div>
          <div>
            {% if not user.userprofile.phone %}
            {% url 'completeprofile' as url %}
            <a href="{{url}}" type="submit" class="btn btn-secondary mx-2" style="background-color: #e43c5c; width: 340px; height: auto;"> Donor Registration </a>
            {% else %}
            {% url 'editprofile' as url %}
            <a href="{{url}}" type="submit" class="btn btn-secondary mx-2" style="background-color: #e43c5c; width: 340px; height: auto;"> Edit Profile </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  



  <!-- -------------------------------- Not Donor || No Blood Bank -------------------------------- -->

  {% elif not user.userprofile.phone and not user.bloodbank.bloodbankname %}
  
  <div class="container"><br>
    <div class="row justify-content-center gy-1"> 
      <div class="col-lg-4">
        <div class="portfolio-info">
          <h3>Bio</h3>
          <ul>
            {% if user.is_authenticated %}
            <li><strong>Name</strong>: {{ user.first_name }} </li>
            <li><strong>Email</strong>: {{ user.email }} </li>
            {% endif %}
          </ul><br><br><br>
          <div>
            {% if not user.userprofile.phone %}
            {% url 'completeprofile' as url %}
            <a href="{{url}}" type="submit" class="btn btn-secondary mx-2" style="background-color: #e43c5c; width: 100%"> Donor Registration </a>
            {% else %}
            {% url 'editprofile' as url %}
            <a href="{{url}}" type="submit" class="btn btn-secondary mx-2" style="background-color: #e43c5c; width: 100%"> Edit Profile </a>
            {% endif %}
          </div>
          <br>
          <div>
            {% if not user.bloodbank.bloodbankname %}
            {% url 'addbloodbank' as url %}
            <a href="{{url}}" type="submit" class="btn btn-secondary mx-2" style="background-color: #e43c5c; width: 100%"> Add Blood Bank </a>
            {% else %}
            {% url 'editbloodbank' as url %}
            <a href="{{url}}" type="submit" class="btn btn-secondary mx-2" style="background-color: #e43c5c; width: 100%"> Edit Blood Bank</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>



  

 <!-- -------------------------------- Not Donor || Blood Bank -------------------------------- -->

  {% elif not user.userprofile.phone and user.bloodbank.bloodbankname%}

  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="row gy-4"> 
        <div class="col-lg-8">
          <br>
          {% if user.bloodbank.image %}
          <img src="{{ user.bloodbank.image.url }}" alt="" class="img-fluid rounded" style="width: 600px; height: 415px;"/>
          {% else %}
          <img src="\static\images\blood-bank.jpg" alt="" class="img-fluid rounded" style="width: 600px; height: 415px; border: 1px solid #e43c5c;"/>
          {% endif %}
          <br><br>
          <div>
            {% if not user.userprofile.phone %}
            {% url 'completeprofile' as url %}
            <a href="{{url}}" type="submit" class="btn btn-secondary mx-2" style="background-color: #e43c5c; width: 582px; height: auto;"> Donor Registration </a>
            {% else %}
            {% url 'editprofile' as url %}
            <a href="{{url}}" type="submit" class="btn btn-secondary mx-2" style="background-color: #e43c5c; width: 582px; height: auto;"> Edit Profile </a>
            {% endif %}
          </div>
        </div>

        <div class="col-lg-4"><br>
          <div class="portfolio-info">
            <h3>{{ user.bloodbank.bloodbankname }}</h3>
            <ul>
              {% if user.is_authenticated %}
              <li><strong>Email</strong>: {{ user.bloodbank.bloodbankemail }} </li> 
              <li><strong>Contact</strong>: {{ user.bloodbank.bloodbankphone }} </li> 
              <li><strong>Website</strong>: {{ user.bloodbank.bloodbanklink }} </li> 
              <li><strong>Location</strong>: {{ user.bloodbank.bloodbanklocation }} </li> 
              <li><strong>Available Types</strong>: {{user.bloodbank.bloodbanktypes}}</li> 
              <li><strong>Available Groups</strong>: {{user.bloodbank.bloodbankgroups}}</li> 
              <li><strong>Accreditations</strong>: {{user.bloodbank.bloodbankaccreditations}}</li> 
              {% endif %}
            </ul>
          </div>
          <div>
            {% if not user.bloodbank.bloodbankname %}
            {% url 'addbloodbank' as url %}
            <a href="{{url}}" type="submit" class="btn btn-secondary mx-2" style="background-color: #e43c5c; width: 340px"> Add Blood Bank </a>
            {% else %}
            {% url 'editbloodbank' as url %}
            <a href="{{url}}" type="submit" class="btn btn-secondary mx-2" style="background-color: #e43c5c; width: 340px;"> Edit Blood Bank</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>




 <!-- -------------------------------- Donor || Blood Bank -------------------------------- -->

  {% else %}

  <div class="container">
    <div class="row gy-4"> 
      <div class="col-lg-4"><br>
        {% if user.userprofile.image %}
        <img src="{{ user.userprofile.image.url }}" alt="" class="img-fluid rounded" style="width: 280px; height: 200px;"/>
        {% else %}
        <img src="\static\images\default-profile-picture.png" alt="" class="img-fluid rounded" style="width: 280px; height: 200px; border: 1px solid #e43c5c;"/>
        {% endif %}
        <br><br>
        {% if user.bloodbank.image %}
        <img src="{{ user.bloodbank.image.url }}" alt="" class="img-fluid rounded" style="width: 280px; height: 200px;"/>
        {% else %}
        <img src="\static\images\blood-bank.jpg" alt="" class="img-fluid rounded" style="width: 280px; height: 200px; border: 1px solid #e43c5c;"/>
        {% endif %}

        <br><br>

      </div>
      <div class="col-lg-4"><br>
        <div class="portfolio-info">
          <h3>Bio</h3>
          <ul>
            {% if user.is_authenticated %}
            <li><strong>Name</strong>: {{ user.first_name }} </li>
            <li><strong>Email</strong>: {{ user.email }} </li>
            {% if user.userprofile.phone %}
            <li><strong>Number</strong>: {{ user.userprofile.phone }} </li>
            {% endif %}
            {% if user.userprofile.location %}
            <li><strong>Address</strong>: {{ user.userprofile.location }}</li>
            {% endif %}
            {% if user.userprofile.bloodgroup %}
            <li><strong>Blood group</strong>: {{ user.userprofile.bloodgroup }}</li>
            {% endif %}
            {% if user.userprofile.age %}
            <li><strong>Age</strong>: {{ user.userprofile.age }}</li>
            {% endif %}
            {% if user.userprofile.gender %}
            <li><strong>Gender</strong>: {{ user.userprofile.gender }}</li>
            {% endif %}
            
            {% if user.userprofile.age %}
            {% if user.userprofile.donor_donationcount %}
            <li><strong>Donation count</strong>: {{ user.userprofile.donor_donationcount }} </li>
            {% else %}
            <li><strong>Donation count</strong>: 0 </li>
            {% endif %}
            {% endif %}

            {% endif %}
          </ul>
        </div>
        <div>
          {% if not user.userprofile.phone %}
          {% url 'completeprofile' as url %}
          <a href="{{url}}" type="submit" class="btn btn-secondary mx-2" style="background-color: #e43c5c; width: 340px"> Donor Registration </a>
          {% else %}
          {% url 'editprofile' as url %}
          <a href="{{url}}" type="submit" class="btn btn-secondary mx-2" style="background-color: #e43c5c; width: 340px;"> Edit Profile </a>
          {% endif %}
        </div>
      </div>
      <div class="col-lg-4"><br>
        <div class="portfolio-info">
          <h3>{{ user.bloodbank.bloodbankname }}</h3>
          <ul>
            {% if user.is_authenticated %}
            <li><strong>Email</strong>: {{ user.bloodbank.bloodbankemail }} </li> 
            <li><strong>Contact</strong>: {{ user.bloodbank.bloodbankphone }} </li> 
            <li><strong>Website</strong>: {{ user.bloodbank.bloodbanklink }} </li> 
            <li><strong>Location</strong>: {{ user.bloodbank.bloodbanklocation }} </li> 
            <li><strong>Available Types</strong>: {{user.bloodbank.bloodbanktypes}}</li> 
            <li><strong>Available Groups</strong>: {{user.bloodbank.bloodbankgroups}}</li> 
            <li><strong>Accreditations</strong>: {{user.bloodbank.bloodbankaccreditations}}</li> 
            {% endif %}
          </ul>
        </div>
        <div>
          {% if not user.bloodbank.bloodbankname %}
          {% url 'addbloodbank' as url %}
          <a href="{{url}}" type="submit" class="btn btn-secondary mx-2" style="background-color: #e43c5c; width: 340px;"> Add Blood Bank </a>
          {% else %}
          {% url 'editbloodbank' as url %}
          <a href="{{url}}" type="submit" class="btn btn-secondary mx-2" style="background-color: #e43c5c; width: 340px;"> Edit Blood Bank</a>
          {% endif %}
        </div>
      </div>
    </div>
    <br><br>
  </div>
  {% endif %}
</section>
<!-- End Portfolio Details Section -->


{% endblock content %} 
