{% extends "base.html" %}
{% block title %} Hemosys | Request Blood {% endblock title %}
{% block content %}

<div class="card bg-light p-5">
    <br>
    <div class="section-title">
        <h3>Request <span>Blood</span></h3>
    </div>

    <form action="/recipient/request-blood/" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
          <div class="col-md-4">
          <label for="recipientname">Patient's name</label>
          <div class="form-group">
            <input type="text" class="form-control p-2" id="recipientname" name="recipientname" required/>
          </div>
          </div>
          <div class="col-md-4">
          <label for="recipientemail">Guardian's email</label>
          <div class="form-group">
            <input type="email" class="form-control p-2" id="recipientemail" name="recipientemail" required/>
          </div>
          </div>
          <div class="col-md-4">
            <label for="recipientphone">Guardian's contact</label>
            <div class="form-group">
              <input type="tel" class="form-control p-2" id="recipientphone" name="recipientphone" required/>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="recipientage">Patient's age</label>
            <div class="form-group">
              <input type="number" class="form-control p-2" id="recipientage" name="recipientage" required/>
            </div>
          </div>
          <div class="col-md-4">
            <label for="recipientgender">Patient's gender</label>
            <div class="form-group">
              <select class="form-control" id="recipientgender" name="recipientgender" requried>
                <option value="">Select gender</option>
                <option id="recipientgender" value="Male">Male</option>
                <option id="recipientgender" value="Female">Female</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
          <label for="recipientlocation">Patient's location</label>
          <div class="form-group">
            <input type="text" class="form-control p-2" id="recipientlocation" name="recipientlocation" required/>
          </div>
          </div>
        </div>
            
        

        <div class="row">
        <div class="col-md-4">
          <label for="recipientcondition">Donation cause</label>
          <div class="form-group">
            <input type="text" class="form-control p-2" id="recipientcondition" name="recipientcondition" required/>
          </div>
        </div>
        <div class="col-md-4">
        <label for="recipientblood">Patient's blood group</label>
        <div class="form-group">
          <select class="form-control" id="recipientblood" name="recipientblood" requried>
            <option value="">Select blood group</option>
            <option id="bloodA+" value="A+">A+</option>
            <option id="bloodA-" value="A-">A-</option>
            <option id="bloodB+" value="B+">B+</option>
            <option id="bloodB-" value="B-">B-</option>
            <option id="bloodAB+" value="AB+">AB+</option>
            <option id="bloodAB-" value="AB-">AB-</option>
            <option id="bloodO+" value="O+">O+</option>
            <option id="bloodO-" value="O-">O-</option>
          </select>
        </div>
        </div>
        <div class="col-md-4">
        <label for="recipientdonationtype">Donation type</label>
        <div class="form-group">
          <select class="form-control" id="recipientdonationtype" name="recipientdonationtype" requried>
            <option value="">Select type</option>
            <option id="red-blood" value="Red Blood">Red Blood</option>
            <option id="platelet" value="Platelet">Platelet</option>
            <option id="plasma" value="Plasma">Plasma</option>
          </select>
        </div>
        </div>
        </diV>

        <div class = "row">
          <div class="col-md-4">
            <label for="recipientdonationquantity">Donation quantity</label>
            <div class="form-group">
              <input type="number" class="form-control p-2" id="recipientdonationquantity" name="recipientdonationquantity" placeholder = "Bag" required/>
            </div>
          </div>
          <div class="col-md-4">
            <label for="recipientdate">Donation date</label>
            <div class="form-group">
              <input type="date" class="form-control p-2" id="recipientdate" name="recipientdate" required/>
            </div>
          </div>
          <div class="col-md-4">
            <label for="recipienttime">Donation time</label> 
            <div class="form-group">
              <input type="time" class="form-control p-2" id="recipienttime" name="recipienttime" required/>
            </div>
          </div>
        </div>
    
        <br>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-dark" style="background-color: #e43c5c">Submit</button>
        </div>
      </form>
</div>

{% endblock content %}