{% extends 'base.html' %} 
{% block title %}Hemosys | Set New Password{% endblock title %} 
{% block content %}

<div class="formbg">
  <br><br><br>
  
  <div class="d-flex justify-content-center">
    <div class="card bg-light p-5 forms">
      
      <h2 class="text-dark d-flex justify-content-center">Reset Password</h2>
      <form method="post">
          {% csrf_token %}
          <br>
          <label for="pass1">Password</label>
          <div class="form-group">
              <input type="password" class="form-control" id="pass1" name="pass1" required>
          </div>
          <label for="pass2">Confirm Password</label>
          <div class="form-group">
              <input type="password" class="form-control" id="pass2" name="pass2" required>
          </div>
          <br><br>
          <button type="submit" class="btn btn-dark">Submit</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
